*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar container */
.navbar{
  background-color: white;        /* Now this works */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  border: 1px solid rgb(59,93,246);
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

/* logo section */
.logo{
  font-size: 30px;
  font-weight: 600;
  background-color: transparent; /* change if you want a background */
  padding: 8px 12px;
  border-radius: 4px;
  color: black;
}

/* menu list */
.list1{
  list-style: none;
  display: flex;
  gap: 6px;
  align-items: center;
}

/* links */
.navbar a{
  text-decoration: none;
  color: rgb(59,93,246);
  padding: 10px 12px;
  display: block;
  font-size: 18px;
}

.navbar a:hover{
  background-color: #111;
  border-radius: 4px;
  opacity: 0.6;
}

.login{
  padding:  8px 10px;
  background-color: white;
  border: 1px solid rgb(59,93,246);
  border-color: rgb(59,93,246);
  color: rgb(59,93,246);
  border-radius: 10px;
  font-size: 18px;
}

.signup{
  padding:  8px 10px;
  background-color: rgb(59,93,246);
  color: white;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid white;
}

.bgimage{
  width: 100%;
  height:auto;
}


